{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %} 

{% block content %}
    <h1>Hello</h1>
    <a href="/login">login</a>
    <a href="/logout">logout</a>
    <a href="/register">register</a>
    <a href="/admin/uploads">Admin</a>

    <h1>Loged</h1>

    {% for file in files_list %}
    <p>{{file.name}} <a href={{ file.generated}} >Download</a> | {{ file.public}} | {{file.format}} | {{file.size}} | {{file.download_count}}</p>
    {% endfor %}
{% endblock content %}