{% extends "layouts/base.html" %}

{% block title %} Home {% endblock %} 

{% block content %}



    <br>
    <h2 class="text-center">Welcome, {{current_user.username}}</h2>
    <br>

    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">File Name</th>
                    <th scope="col"></th>
                    <th scope="col">Format</th>
                    <th scope="col">Size</th>
                    <th scope="col">Download count</th>
                  </tr>
                </thead>
                <tbody>
                    {% for file in files_list %}
                        <tr>
                            <td>{{file.name}}</td>
                            <td><a href={{ "/uploads/" ~ file.generated}}><button class="btn btn-success" formaction= >Download</button></a></td>
                           
                            <td>{{file.format}}</td>
                            <td>{{file.size ~ "Kb"}}</td>
                            <td>{{file.download_count}}</td>

                        
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
{% endblock content %}