{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %} 

{% block content %}
    {% from "helpers/formhelper.html" import render_field %}
        <form method=post>
        <dl>
            {{ form.csrf_token }}
            {{ render_field(form.username) }}
            {{ render_field(form.password) }}
        </dl>
            {{ error }}
        <p><input type=submit value=Login>
        </form>

    <script>
        if ( window.history.replaceState ) {
            window.history.replaceState( null, null, window.location.href );
        }
    </script>
{% endblock content %}