{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %} 

{% block content %}
<div class="d-flex justify-content-center  align-items-center h-100">
    <form method="post">
        {{ form.csrf_token }}
        <!-- Username input -->
        <div data-mdb-input-init class="form-outline mb-4">
            {{ form.username(class="form-control")}}
          <label class="form-label" for="form1Example1">Username</label>
        </div>
      
        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
            {{ form.password(class="form-control")}}
          <label class="form-label" for="form1Example2">Password</label>
        </div>
        <!-- Error message -->
        <div class="form-outline mb-4">
            <div class="text-center">
                {{error}}
            </div>

        </div>
        <!-- Submit button -->
        <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block" value=Login>Login</button>
            
      </form>
</div>

{% endblock content %}